/*GLOBEL SETTINGS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 0 auto;
  font-family: "Lucide Sams Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  line-heigth: 24px;
}

 /*NAVIGATION*/
 #nav {
   background-color: #000;
   width: 100%;
   heigth: 70px;
   position: fixed;
   top: 0px;
   border-bottom: 10px #3498db solid;
   text-align: center;
 }
 #navigaton {
  list-style-type: none;
  width: 1024px;
  margin: 0px auto;
  padding-top: 20px;
 }
 li {
   display: inline;
   padding: 0 0 0 20px;
 }
 #nav a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
  color: #ededed;
 }
 #nav a: hover {color: #bdbdbd;}

 /*TOP BANNER*/
 .main-banner {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("../img/milo2.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   heigth: 600px;
   margin-bottom: 0;
 }
 .cta-button {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  padding: 10px 30px;
  margin-top: 30px;
  font-size: 20px;
 }
 .cta-button: hover {
   background-color: #fff;
   border: 2px solid #fff;
   color: #000;
 }
 hr {
   border: 1px solid #262626;
 }

 /*FONTS*/
 h1 {
   font-size: 28px;
   color: #34495e;
   text-align: center;
   font-weight: ligher;
   padding-top: 30px;
   paddig-bottom: 50px;
 }
 h3 {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: ligher;
 }
 p {
   margin-top: 20px;
  }

  /*CONTAINERS*/
.center-text {
 width: 100%
}
.about-container {
 width: 70%;
 padding: 50px;
 margin: 0 auto;
}
.fva-bkg {
  background=color: #ed7d67;
  width: 100%;
}
#fav-links{
  width: 70%;
  padding: 50px;
  margin: 0 auto;
}
.link-containers {
 display: flex;
 color: #fff;
}
.linksIcons {
  padding-rigth: 30px;
  padding-botton: 30px;
}
#divSocial {
 width: 100%;
 padding: 50px;
}
#divSocialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
/*IMAGES*/
#divSocialIcons {
  text-align: center;
}
.logo {
 vertical-align: middle;
 padding-rigth: 10px;
}
.profilePhoto {
  display: block;
  margin: 0 auto;
  padding: 30px;
}


/*LINKS*/
a:link {color: #ecf0f1;} /*UNVISITED LINK*/
a:visited {color: #ecf0f1;} /*VISITED LINK*/
a:hover {color: #ecf0f1;} /*MOUSE OVER LINK*/
a:active {color: #ecf0f1;} /*SELECTED LINKS*/

@media (max-widht:800px) {
  #nav {
    heigth: 200px;
  }
#navigaton {
 widht: 100%;
 display: inline-grid;
 justify-content: center;
 align-items: center;
}
.logo {
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.main-banner {
  margin-top: 200px;
  background-image: url("../img/milo-700.jpg")
}
.center-text {
  width: 100%;
  text-align: center;
}
.about-container {
 widht: 100px;
 padding: 20px;
 margin: 0 auto;
}
#fav-links {
 widht: 100px;
 padding: 20px;
 margin: 0 auto;
}
.fav-bkg {
 padding-bottom: 30px;
}
.profilePhoto {
  display: block;
  margin: 0 auto;
  widht: 250px;
}
.link-containers {
 display: block;
}
.linksIcons {
  widht: 0 auto;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
}
